@import "tailwindcss";

@theme static {
  --color-fx-neutral-900: #0a0a0a;
  --color-fx-neutral-700: #171719;
  --color-fx-neutral-600: #202022;
  --color-fx-neutral-500: #2e2e2e;
  --color-fx-neutral-400: #3d3d3d;
  --color-fx-neutral-300: #454547;
  --color-fx-neutral-200: #9d9d9d;
  --color-fx-neutral-100: #c6c6c6;
  --color-fx-neutral-50: #ffffff;

  --color-fx-lime-500: #cef739;
  --color-fx-lime-800: #283300;

  --color-fx-green-500: #42eb05;

  --color-fx-red-500: #ff4141;
}
